<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <% @menus.each do |menu| %>
      <h2 class="name">
        <%= menu.food_name %>
      </h2>
      <div class="item-img-content">
        <%= image_tag menu.image, class:"item-box-img" %>
      </div>
      <div class="item-price-box">
        <span class="item-postage">
          ¥ <%= menu.price %>
        </span>
        <span class="item-postage">
          <%= menu.explanation %>
        </span>
      </div>
    <% end %>
  </div>
</div>