<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="menu-show">
  <div class="menu-contents">
    <h2 class="name">
      <%= menu.food_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag menu.image, class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-postage">
        ¥ <%= menu.price %>
      </span>
      <span class="item-postage">
        <%= menu.explanation %>
      </span>
    </div>
  </div>
</div>